.demo-layout-transparent {
    background: url('./asets/hearder.jpg') center / cover;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
  }

  .img-header{
    height: 456px;
    width: 557px;
    
  }

  .Contend-header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    
  }

  .text-herader{
    display: flex;
    flex-direction: column;
    align-items: center;


  }
  .img-header-1{
    height: 35px;
    width: auto;
  }
 /* MQ PARA MENU DESPLEGABLE======================= */
  @media screen and (max-width:1024px){
    .Contend-header{
        display: flex;
        flex-direction: column;
        margin-top: 29px;
        padding: 50px;
        
    }

    .img-header{
        height: auto;
        width: 332px;
        
      }

    .text-herader{
        display: flex;
        align-items: center;
      }

      .img-header-1{
        height: 43px;
        width: auto;
      }



}
 /* DISEÑO DE MENU DESPLEGABLE ========================*/
 .mdl-layout__drawer{
    background-color:   #bab29c  ;
    border-right: 0px
 }
 .mdl-layout__title, .mdl-layout-title{
    color:   #1c1c1b ;
 }
 .mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    color:  #1c1c1b;
 }

 /* =====BOTONES DE REDES SOCIALES=========================================== */
 .buttons a {
    text-decoration: none;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:   #1c1c1b  ;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
  }

  .buttons{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-top: 30px;
    justify-content: space-around;
    min-width: 330px;
}

